.controls {
  margin: 2px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mat-button-toggle-group {
    height: 48px;
  }
}

.add-task {
  cursor: pointer;
  font-weight: 500;
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #3f51b5;
}
